<div class="bs-masthead">
  <div class="container">
    <h1>CPO, Baby!</h1>

    <p class="lead">
      ... More is always better, no?
    </p>

    <%= link_to "Sign up now!", '#', class: "btn btn-bs btn-large" %>
  </div>
</div>