// @import "bootstrap";


body { padding-top: 60px; }

html { overflow-y: scroll; }

section { overflow: auto; }

textarea { resize: vertical; }

.page-header {
  padding-bottom: 0;
  margin: 20px 0;
  // border-bottom: 1px solid #eeeeee; // redundant
}

.rep_remember_me {
  .checkbox {
    font-weight: normal;
  }
}

.order-meta,
.order-addresses,
.order-line-items {
  border-bottom: solid 1px #CCC;
  padding: 5px 0;
}
.order-addresses {
  .control-label {
    font-weight: normal;
  }
}

.label { font-family: 'Monaco'; }

a { color: #446E9B; }

.navbar-inverse {
  background-color: #385a7f;
  border-color: #315070;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #385a7f;
}


/* mixins, variables, etc. */

// @mixin box_sizing {
//   -moz-box-sizing: border-box; 
//   -webkit-box-sizing: border-box; 
//   box-sizing: border-box;
// }

$grayMediumLight: #eaeaea;

$grayLight: #999;
$gray: #555;
$grayDarker: #222;

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  // @include box_sizing;

  // background-color: #f7f5fa;
}

/* forms */ 

// input, textarea, select, .uneditable-input {
//   border: 1px solid #bbb;
//   width: 100%;
//   padding: 10px;
//   margin-bottom: 15px;
//   @include box_sizing;
// }

// input {
//   height: auto !important;
// }

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}



/*
 * Bootswatch Spacelab custom mod, yo
 * cut from lines 7233-7361 of original Spacelab bootstrap.css
 */


// .navbar {
//   text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(50%, #eeeeee), to(#e4e4e4));
//   background-image: -webkit-linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
//   background-image: -moz-linear-gradient(top, #ffffff, #eeeeee 50%, #e4e4e4);
//   background-image: linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
//   background-repeat: no-repeat;
//   border: 1px solid #d5d5d5;
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe4e4e4', GradientType=0);
// }

// .navbar-inverse {
//   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6d94bf), color-stop(50%, #446e9b), to(#3e648d));
//   background-image: -webkit-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
//   background-image: -moz-linear-gradient(top, #6d94bf, #446e9b 50%, #3e648d);
//   background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
//   background-repeat: no-repeat;
//   border: 1px solid #345578;
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d94bf', endColorstr='#ff3e648d', GradientType=0);
// }

// .navbar-nav > li > a,
// .navbar-nav > li > a:hover {
//   padding-top: 17px;
//   padding-bottom: 13px;
//   -webkit-transition: color ease-in-out 0.2s;
//           transition: color ease-in-out 0.2s;
// }

// .navbar-brand,
// .navbar-brand:hover {
//   -webkit-transition: color ease-in-out 0.2s;
//           transition: color ease-in-out 0.2s;
// }

// .navbar .caret,
// .navbar .caret:hover {
//   -webkit-transition: border-color ease-in-out 0.2s;
//           transition: border-color ease-in-out 0.2s;
// }

.navbar .dropdown-menu {
  text-shadow: none;
}

.btn {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

// .btn-default,
// .btn-default:hover {
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6d7070), color-stop(50%, #474949), to(#3d3f3f));
//   background-image: -webkit-linear-gradient(#6d7070, #474949 50%, #3d3f3f);
//   background-image: -moz-linear-gradient(top, #6d7070, #474949 50%, #3d3f3f);
//   background-image: linear-gradient(#6d7070, #474949 50%, #3d3f3f);
//   background-repeat: no-repeat;
//   border: 1px solid #2e2f2f;
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d7070', endColorstr='#ff3d3f3f', GradientType=0);
// }

// .btn-primary,
// .btn-primary:hover {
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6d94bf), color-stop(50%, #446e9b), to(#3e648d));
//   background-image: -webkit-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
//   background-image: -moz-linear-gradient(top, #6d94bf, #446e9b 50%, #3e648d);
//   background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
//   background-repeat: no-repeat;
//   border: 1px solid #345578;
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d94bf', endColorstr='#ff3e648d', GradientType=0);
// }

// .btn-success,
// .btn-success:hover {
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#61dd45), color-stop(50%, #3cb521), to(#36a41e));
//   background-image: -webkit-linear-gradient(#61dd45, #3cb521 50%, #36a41e);
//   background-image: -moz-linear-gradient(top, #61dd45, #3cb521 50%, #36a41e);
//   background-image: linear-gradient(#61dd45, #3cb521 50%, #36a41e);
//   background-repeat: no-repeat;
//   border: 1px solid #2e8a19;
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff61dd45', endColorstr='#ff36a41e', GradientType=0);
// }

// .btn-info,
// .btn-info:hover {
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7bbdf7), color-stop(50%, #3399f3), to(#208ff2));
//   background-image: -webkit-linear-gradient(#7bbdf7, #3399f3 50%, #208ff2);
//   background-image: -moz-linear-gradient(top, #7bbdf7, #3399f3 50%, #208ff2);
//   background-image: linear-gradient(#7bbdf7, #3399f3 50%, #208ff2);
//   background-repeat: no-repeat;
//   border: 1px solid #0e80e5;
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7bbdf7', endColorstr='#ff208ff2', GradientType=0);
// }

// .btn-warning,
// .btn-warning:hover {
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9c21), color-stop(50%, #d47500), to(#c06a00));
//   background-image: -webkit-linear-gradient(#ff9c21, #d47500 50%, #c06a00);
//   background-image: -moz-linear-gradient(top, #ff9c21, #d47500 50%, #c06a00);
//   background-image: linear-gradient(#ff9c21, #d47500 50%, #c06a00);
//   background-repeat: no-repeat;
//   border: 1px solid #a15900;
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9c21', endColorstr='#ffc06a00', GradientType=0);
// }

// .btn-danger,
// .btn-danger:hover {
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff1d1b), color-stop(50%, #cd0200), to(#b90200));
//   background-image: -webkit-linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
//   background-image: -moz-linear-gradient(top, #ff1d1b, #cd0200 50%, #b90200);
//   background-image: linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
//   background-repeat: no-repeat;
//   border: 1px solid #9a0200;
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff1d1b', endColorstr='#ffb90200', GradientType=0);
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2d2d2d;
}

.pagination .active > a,
.pagination .active > a:hover {
  border-color: #ddd;
}



/*
 * Bootstrap Documentation
 * Special styles for presenting Bootstrap's documentation and code examples.
 */


/* Key scaffolding
-------------------------------------------------- */

body {
  position: relative; /* For scrollyspy */
  // padding-top: 50px; /* Account for fixed navbar */
}

/* Custom docs button */
.btn-bs {
  color: #563d7c;
  background-color: #fff;
  border-color: #e5e5e5;
}
.btn-bs:hover,
.btn-bs:focus,
.btn-bs:active {
  color: #fff;
  background-color: #563d7c;
  border-color: #563d7c;
}

/* Temp CSS until RC2 */
.bs-customize-placeholder {
  margin-bottom: -100px;
  padding: 80px 30px;
  text-align: center;
  background-color: #f5f5f5;
}


/* Top nav and header
-------------------------------------------------- */

.bs-docs-nav {
  background-color: #563d7c;
}
.bs-docs-nav .navbar-brand {
  color: #fff;
}
.bs-docs-nav .navbar-nav > li > a {
  color: #cdbfe3;
}
.bs-docs-nav .navbar-nav > li > a:hover {
  color: #fff;
}
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #463265;
}
.bs-docs-nav .navbar-toggle {
  border-color: #563d7c;
}
.bs-docs-nav .navbar-toggle:hover {
  background-color: #463265;
  border-color: #463265;
}

/* Old docs callout */
.bs-old-docs {
  padding: 15px 20px;
  color: #777;
  background-color: #fafafa;
  border-bottom: 1px solid #e5e5e5;
}
.bs-old-docs strong {
  color: #555;
}
.bs-docs-home .bs-old-docs {
  text-align: center;
  border-top: 1px solid #e5e5e5;
}


/* Homepage masthead
-------------------------------------------------- */

.bs-masthead {
  position: relative;
  padding: 30px 15px;
  text-align: center;
}
.bs-masthead h1 {
  font-size: 50px;
  line-height: 1;
}

/* Download button */
.bs-masthead .btn-bs {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 18px 24px;
  font-size: 21px;
}

/* Textual links */
.bs-social {
  margin-top: 30px;
  text-align: center;
}
.bs-masthead-links {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.bs-masthead-links li {
  display: inline;
  color: #999;
}
.bs-masthead-links li + li {
  margin-left: 20px;
}


/* Docs pages and sections
-------------------------------------------------- */

/* Page headers */
.bs-header {
  padding: 30px 30px 40px;
  font-size: 16px;
  color: #5a5a5a;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.bs-header h1 {
  color: #563d7c;
}
.bs-header p {
  font-weight: 300;
  line-height: 1.5;
}
.bs-header .container {
  position: relative;
}

.bs-docs-section + .bs-docs-section {
  margin-top: 80px;
}

/* Ads in page headers */
.carbonad {
  width: auto !important;
  margin: 50px -30px -40px !important;
  padding: 20px !important;
  overflow: hidden; /* clearfix */
  height: auto !important;
  font-size: 13px !important;
  line-height: 16px !important;
  text-align: left;
  background: none !important;
  border: 0 !important;
  border-top: 1px solid #e5e5e5 !important;
}
.carbonad-img {
  margin: 0 !important;
}
.carbonad-text,
.carbonad-tag {
  float: none !important;
  display: block !important;
  width: auto !important;
  height: auto !important;
  margin-left: 145px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.carbonad-text {
  padding-top: 0 !important;
}
.carbonad-tag {
  text-align: left !important;
}
.carbonad #azcarbon > img {
  display: none; /* hide what I assume are tracking images */
}



/* Docs sidebar
-------------------------------------------------- */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  // text-shadow: 0 1px 0 #fff;
  // background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  // color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  // background-color: #e5e3e9;
  background-color: #f5f5f5;
  // border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  // color: #563d7c;
  // background-color: transparent;
  // border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}


/* Responsive variations
-------------------------------------------------- */

/* Hide code snippets on mobile devices */
@media screen and (max-width: 480px) {
  .highlight {
    display: none;
  }
}

/* Tablets and up */
@media screen and (min-width: 768px) {

  .bs-header {
    font-size: 21px;
    text-align: left;
  }
  .bs-header h1 {
    font-size: 60px;
    line-height: 1;
  }

  .bs-example {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }

  .carbonad {
    margin: 0 !important;
    border: 1px solid #e5e5e5 !important;
    border-radius: 4px;
  }

  /* Show the docs nav */
  .bs-sidebar {
    display: block;
  }
  /* Show the hidden subnavs when space allows it */
  .bs-sidebar .nav > .active > ul {
    display: block;
  }

  /* Tweak display of docs jumbotrons */
  .bs-masthead {
    padding-top:    100px;
    padding-bottom: 100px;
  }
  .bs-masthead h1 {
    font-size: 100px;
  }
  .bs-masthead p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 30px;
  }

  .bs-navbar-top-example .navbar-fixed-top,
  .bs-navbar-bottom-example .navbar-fixed-bottom {
    position: absolute;
  }

}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {

  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile-first approach */
    top: 80px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile-first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
  .bs-header h1,
  .bs-header p {
    margin-right: 380px;
  }
  .carbonad {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 15px !important;
    width: 330px !important;
    min-height: 132px;
  }

}

/* Large desktops and up */
@media screen and (min-width: 1200px) {

  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 270px;
  }

}
