<% provide(:title, "Editing Product ##{@product.item_number}" ) %>

<div class="row">
  <div class="col-lg-6">
    <h2>Editing Product #<%= "#{@product.item_number}" %></h2>

    <%= render 'form' %>

    <%= link_to 'back to All Products', products_path %>
  </div>
</div>
