<% provide(:title, 'New Product') %>

<div class="row">
  <div class="col-lg-6">
    <h2>New Product</h2>

    <%= render 'form' %>

    <%= link_to 'back to All Products', products_path %>
  </div>
</div>
