<header>
  <div class="navbar navbar-fixed-top">
    <a href="#" class="navbar-brand">CPObaby</a>
    <ul class="nav navbar-nav pull-right">
      <% if rep_signed_in? %>
        <li><%= link_to current_rep.full_name, edit_rep_registration_path %></li>
        <li><%= link_to "Sign out", signout_path, method: "delete"  %></li>
      <% else %>
        <li><%= link_to "Sign up", signup_path %></li>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
    <p class="navbar-text ">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
  </div>
</header>