<div class="bs-sidebar">
  <ul class="nav bs-sidenav">
      <li><%= link_to "Home", root_path %></li>
      <li><a href="#">Sales Dashboard</a></li>
      <li><a href="#">Tasks</a></li>
      <li><a href="#">Contacts</a></li>
      <li><a href="#">Calls</a></li>
      <li><a href="#">Appointments</a></li>
      <li><%= link_to "Orders", orders_path %></li>
      <li><%= link_to "Products", products_path %></li>
      <li><a href="#">Search Notes</a></li>
      <li><a href="#">Archive</a></li>
  </ul>
</div>